.addUser{
    width: max-content;
    height: max-content;
    padding: 30px;
    border-color: rgb(148, 56, 56);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(32, 28, 25, 0.87);
    

    form{
        display: flex;
        gap: 20px;
        
        input{
            padding: 20px;
            border: none;
            outline: none;
            background-color: #e6dcdc;
            color: white;
            font-size: 16px;
            border-radius: 10px;
        }

        button{
            padding: 20px;
            border: none;
            outline: none;
            background-color: #47a510;
            color: white;
            font-size: 16px;
            cursor: pointer;
            border-radius: 10px;
        }
    }

    .user{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .detail{
            display: flex;
            align-items: center;
            gap: 20px;

            img{
                width: 50px;
                height: 50px;
                border-radius: 10px;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        button{
            padding: 10px;
            border: none;
            outline: none;
            background-color: #1e4ada;
            color: white;
            font-size: 16px;
            cursor: pointer;
            border-radius: 10px;
        }


    }
}